@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-datepicker/dist/react-datepicker.css";

/* Hide scrollbar for WebKit-based browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.custom-toast {
  width: 500px; /* Set custom width */
  padding: 20px; /* Adjust padding */
  font-size: 18px; /* Adjust font size */
}
